<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/main.css">
    {{!-- note that external stlyles are defined within the <link> element inside the <head> section of an HTML page --}}
<title>Wonder</title>
</head>
<body>
		<h1>Welcome to Wonder's Website</h1>
		{{{body}}}
</body>
</html>
